<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheResultFile="./coverage-cache/phpunit.cache"
    cacheDirectory="./coverage-cache"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature/</directory>
        </testsuite>
        <testsuite name="List">
            <file>tests/Feature/ListLeadTest.php</file>
        </testsuite>
        <testsuite name="AlterStatusLead">
            <file>tests/Feature/AlterStatusLeadTest.php</file>
        </testsuite>
        <testsuite name="SanctumLogin">
            <file>tests/Feature/SanctumLoginTest.php</file>
        </testsuite>
        <testsuite name="SanctumLogout">
            <file>tests/Feature/SanctumLogoutTest.php</file>
        </testsuite>
        <testsuite name="Lead">
            <file>tests/Feature/CreateLeadTest.php</file>
        </testsuite>
        <testsuite name="LeadStatus">
            <file>tests/Feature/ListLeadStatusTest.php</file>
        </testsuite>
        <testsuite name="ConfirmEmailLead">
            <file>tests/Feature/ConfirmEmailLeadTest.php</file>
        </testsuite>
        <testsuite name="UnsubscribedLead">
            <file>tests/Feature/UnsubscribedLeadTest.php</file>
        </testsuite>
        <testsuite name="DestroyLeadInteractionsTest">
            <file>tests/Feature/DestroyLeadInteractionsTest.php</file>
        </testsuite>
        <testsuite name="EditLeadInteractionsTest">
            <file>tests/Feature/EditLeadInteractionsTest.php</file>
        </testsuite>
        <testsuite name="Database">
            <directory>tests/Feature/Database</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <coverage>
        <report>
        <html outputDirectory="reports" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_DATABASE" value="landing_page"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
